@font-face {
    font-family: 'BigJohn';
    src: url('../fonts/BigJohn.otf');
}

@font-face {
    font-family: 'SlimJoe';
    src: url('../fonts/SlimJoe.otf');
}
.page{
    padding : 75px 50px;
    max-height: calc(100vh - 100px);
    overflow: auto;
}
.page .title{
    font-size : 20px;
    margin-top : 20px;
}
.page .subtitle{
    font-size : 17px;
}
.page .description{
    font-size : 15px;
}
.page .content{
    font-size : 15px;
}
.page .nav .nav-link h4{
    font-size: 15px;
}
.page image{
    margin-top : 20px;
}
footer{
    position : fixed;
    bottom :  0px;
    height : 100px;
    color : #fff;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
}
footer p{
    font-size : 20px !important;
}
